@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

body {
    font-family: 'Mulish', sans-serif;
}

@media screen and (max-width: 600px) {
    .menu a {
        display: none;
    }

    #hamburger-icon {
        display: block;
        margin-right: 5px;
    }

    .navbar {
        width: 90%;
        margin: 20px;
    }

    .icon h3 {

        font-size: 1rem;


    }

    span {
        color: #FF5400;
    }

    .explore-travel {
        width: 80%;
        margin: 20px auto;
        background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
        background-position: center;

    }

    .explore-travel-section {
        padding-top: 10px;
    }

    .explore-travel-heading {
        font-size: 1rem;
    }

    .explore-travel-paragraph {
        font-size: .8rem;
    }

    .explore-travel-input {
        flex-direction: column;
        margin-top: 20px;
        padding: 20px;
    }

    .popular-tour {
        width: 80%;
        margin: 20px auto;
        flex-direction: column;
    }

    .popular-tour-text,
    .popular-tour-image {
        width: 100%;
    }

    .popular-tour-image {
        margin-top: 20px;
    }

    .popular-tour-image img {
        height: 400px;
    }

    .destination {
        width: 80%;
        margin: 20px auto;
    }

    .destination-title,.why-choose-us-title {
        font-size: 1.5rem;
    }

    .destination-paragraph,.why-choose-us-paragraph {
        font-size: .8rem;
    }

    .maldives,
    .indonesia,
    .srilanka,
    .north-America,
    .kashmir,
    .bangladesh,
    .bandarban {
        grid-column: span 12;
        padding-left: 20px;
    }

    .destination-image img {
        width: 250px;
        height: 150px; 

    }

    .choose-us{
        width: 80%;
        margin: 20px auto;
    }

    .handpicked-hotels{
        grid-column: 1/span 8;
        width: 85vw;

    }

    .world-class-service{
        grid-column: 1/span 8;
        margin-top: 10px;
        width: 85vw;
    }

    .best-price-guarantee{
        grid-column: 1/span 8;
        width: 85vw;
    }

    .newsletter{
        margin: 20px auto;
    }

    .newsletter-box{
        grid-column: 1/span 12;
    }
    .newsletter-image{
        grid-column: 1/span 12;  
    }

     .newsletter-input{
        height: 100%;
        width: 100%;
    } 

    .newsletter-input input,.secondary-button {
        width: 220px;
        height: 30px;

    }

    .newsletter-box hr{
        width: 220px;
    }

    .image-text{
        width: 200px;
        height: 100px;
        right: 10px;
        transform: rotate(-30deg);
        
    }





}


@media screen and (min-width: 600px) and (max-width:992px) {
    .menu a {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

    .navbar {
        width: 90%;
        margin: 20px;
    }

    .icon h3 {

        font-size: 2rem;
    }

    span {
        color: #FF5400;
    }

    .explore-travel {
        width: 80%;
        margin: 20px auto;
        background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
        background-position: center;

    }

    .explore-travel-section {
        padding-top: 10px;
    }

    .explore-travel-heading {
        font-size: 1rem;
    }

    .explore-travel-paragraph {
        font-size: .8rem;
    }

    .explore-travel-input {
        flex-direction: column;
        margin-top: 20px;
        padding: 20px;
    }

    .popular-tour {
        width: 80%;
        margin: 20px auto;
        flex-direction: column;
    }

    .popular-tour {
        width: 80%;
        margin: 20px auto;
        flex-direction: column;
    }

    .popular-tour-text,
    .popular-tour-image {
        width: 100%;
    }

    .popular-tour-image {
        margin-top: 20px;
    }

    .destination {
        width: 80%;
        margin: 20px auto;


    }

    .destination-title {
        font-size: 1.5rem;
    }

    .destination-paragraph {
        font-size: .8rem;
    }

    .maldives,
    .indonesia,
    .srilanka,
    .north-America,
    .kashmir,
    .bangladesh,
    .bandarban {
        grid-column: 1/span 12;
    }

    .choose-us{
        width: 80%;
        margin: 20px auto;
    }

    .handpicked-hotels{
        grid-column: 1/span 8;
        width: 85vw;

    }

    .world-class-service{
        grid-column: 1/span 8;
        margin-top: 10px;
        width: 85vw;
    }

    .best-price-guarantee{
        grid-column: 1/span 8;
        width: 85vw;
    }

    .newsletter{
        margin: 20px auto;
    }

    .newsletter-box{
        grid-column: 1/span 12;
    }
    .newsletter-image{
        grid-column: 1/span 12;  
    }

     .newsletter-input{
        height: 100%;
        width: 100%;
    } 

    .newsletter-input input,.secondary-button {
        width: 300px;
        height: 50px;

    }

    .newsletter-box hr{
        width: 300px;
    }

    .image-text{
        width: 200px;
        height: 100px;
        right: 10px;
        transform: rotate(-30deg);
        
    }




}