@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');
body{
    font-family: 'Mulish', sans-serif;
}

@media screen and (max-width: 600px) {
    .menu a{
        display: none;
    }

    #hamburger-icon{
        display: block;
    }

    .navbar {
        width: 90%;
        margin: 20px;
    }

    .icon h3 {
        
        font-size: 1rem;
        
    
    }
    
    span {
        color: #FF5400;
    }
}


@media screen and (min-width: 600px) and (max-width:992px) {
    .menu a{
        display: none;
    }

    #hamburger-icon{
        display: block;
    }

    .navbar {
        width: 90%;
        margin: 20px;
    }

    .icon h3 {
        
        font-size: 2rem;
        
    
    }
    
    span {
        color: #FF5400;
    }
}