@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

body {
    font-family: 'Mulish', sans-serif;
}

@media screen and (max-width: 600px) {
    .menu a {
        display: none;
    }

    #hamburger-icon {
        display: block;
        margin-right: 5px;
    }

    .navbar {
        width: 90%;
        margin: 20px;
    }

    .icon h3 {

        font-size: 1rem;


    }

    span {
        color: #FF5400;
    }

    .explore-travel {
        width: 80%;
        margin: 20px auto;
        background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
        background-position: center;

    }

    .explore-travel-section {
        padding-top: 10px;
    }

    .explore-travel-heading {
        font-size: 1rem;
    }

    .explore-travel-paragraph {
        font-size: .8rem;
    }

    .explore-travel-input {
        flex-direction: column;
        margin-top: 20px;
        padding: 20px;
    }

    .popular-tour{
        width: 80%;
        margin: 20px auto;
        flex-direction: column;
    }

    .popular-tour-text,.popular-tour-image {
        width: 100%;
    }

    .popular-tour-image{
        margin-top: 20px;
    }
}


@media screen and (min-width: 600px) and (max-width:992px) {
    .menu a {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

    .navbar {
        width: 90%;
        margin: 20px;
    }

    .icon h3 {

        font-size: 2rem;
    }

    span {
        color: #FF5400;
    }

    .explore-travel {
        width: 80%;
        margin: 20px auto;
        background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
        background-position: center;

    }

    .explore-travel-section {
        padding-top: 10px;
    }

    .explore-travel-heading {
        font-size: 1rem;
    }

    .explore-travel-paragraph {
        font-size: .8rem;
    }

    .explore-travel-input {
        flex-direction: column;
        margin-top: 20px;
        padding: 20px;
    }

    .popular-tour{
        width: 80%;
        margin: 20px auto;
        flex-direction: column;
    }

    .popular-tour{
        width: 80%;
        margin: 20px auto;
        flex-direction: column;
    }

    .popular-tour-text,.popular-tour-image {
        width: 100%;
    }

    .popular-tour-image{
        margin-top: 20px;
    }
}