@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

body {
    font-family: 'Mulish', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Shared Styles */

.primary-button {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 5px;
    background: #FF5400;
    padding: 10px 30px;
    border: none;
}

/* Navbar Section Styling */
.navbar {
    width: 80%;
    margin: 50px 130px;
}

.icon {
    display: flex;
    gap: 10px;
    align-items: center;
}

.icon h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 800;

}

span {
    color: #FF5400;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    font-size: 1.1rem;
    font-weight: 400;
    margin-right: 20px;
    padding-left: 30px;

}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: orangered;
    margin: 6px 0;
    transition: 0.5s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);

    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);

    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}

/* Explore Travel Section */

.explore-travel {
    width: 80%;
    height: 500px;
    margin: 50px 130px;
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    object-fit: cover;
}

.explore-travel-section {
    text-align: center;
    padding-top: 100px;

}

.explore-travel-heading {
    color: #FFF;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 10px;

}

.explore-travel-paragraph {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.explore-input {
    width: 170px;
    height: 50px;

    border-radius: 6px;
    background: #FFF;
    border: none;

}

.explore-search {
    width: 170px;
    height: 50px;

    border-radius: 6px;
    background: #FF5400;
    border: none;
}

.explore-travel-input {
    display: flex;

    justify-content: center;
    display: inline-flex;
    padding: 16px;
    margin-top: 50px;
    gap: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30)
}

.explore-search::placeholder {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;

}

.explore-input::placeholder {
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 5px;

}

.popular-tour {
    width: 80%;
    margin: 50px 130px;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.popular-tour-text,
.popular-tour-image {
    width: 48%;
}

.popular-tour-heading,
.destination-title,
.why-choose-us-title{
    color: #131318;
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 20px;

}

.popular-tour-paragraph,
.destination-paragraph,
.why-choose-us-paragraph,.footer-paragraph{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
}

.tour-points li {
    padding: 10px 10px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.popular-tour-image img {
    height: 500px;
    width: 100%;
}

.destination-image {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.destination-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.destination {
    width: 80%;
    margin: 50px 130px;
    height: 100%;
}

.destination-heading,
.why-choose-us-heading{
    text-align: center;
}

.maldives {
    grid-column: 1/span 6;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}

.indonesia {
    grid-column: 7/span 6;
    position: relative;
    overflow: hidden;
}

.srilanka {
    grid-column: 1/span 3;
    margin-right: 20px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

.north-America {
    grid-column: 4/span 6;
    margin-right: 20px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

.kashmir {
    grid-column: 10/span 3;
    margin-top: 10px;
    position: relative;
    overflow: hidden;

}

.bangladesh {
    grid-column: 1/span 5;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}

.bandarban {
    grid-column: 6/span 7;
    position: relative;
    overflow: hidden;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px;
}

/* Choose Us Section */

.choose-us {
    width: 80%;
    margin: 50px 130px;
}



.choose-us-title,
.newsletter-heading {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 20px;
}

.choose-us-paragraph,
.newsletter-paragraph {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
}

.handpicked-hotels {
    /* width: 573px;
height: 284px; */

    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    padding: 30px;
    background: rgba(251, 181, 99, 0.05);
    grid-column: 1/span 6;
    margin-right: 20px;

}

.world-class-service {
    /* width: 573px;
height: 284px;  */
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    padding: 30px;
    background: rgba(41, 206, 246, 0.05);
    grid-column: 7/span 6;
}

.best-price-guarantee {
    /* width: 573px;
height: 284px; */

    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    padding: 30px;
    background: rgba(233, 68, 68, 0.05);
    grid-column: 4/ span 6;
    margin-top: 20px;
}

.choose-us-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* newsletter section starts here */

.newsletter {
    width: 80%;
    margin: 50px 130px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 20px;
}

.newsletter-box hr {

    width: 350px;
    height: 1px;
    margin-top: 10px;
}

.newsletter-box {
    
    
    height: 350px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
    grid-column: 1/span 5;
}
.newsletter-image{
    grid-column: 6/ span 7;
    position: relative;
}



.newsletter-image img{
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.secondary-button {
    width: 350px;
    height: 40px;
    border-radius: 6px;
    background: #FF5400;
    margin-top: 20px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;

}

.newsletter-input input::placeholder {
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
}

.newsletter-input input {
    width: 350px;
    height: 40px;
    border-radius: 6px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    margin-top: 10px;
}

.upper-text{
    color: #FFF;
font-size: 16px;
font-weight: 400;
text-align: center;
}
.lower-text{
    color: #FFF;
font-size: 24px;
font-weight: 800;
text-align: center;

}
.image-text{
    border-radius: 16px;
background: #FF5400;
width: 300px;
height: 100px;
padding-top: 20px;
position: absolute;
right: 5px;
bottom:50px;

transform: rotate(-19.628deg);

}

/* choose your reservation section */

.choose-your-reservation{
    width: 80%;
    margin: 50px 130px;
    background-image: url('../Images/desktop-wallpaper-dark-mountain-dark-mountains.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.reservation-form{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(4,1fr);
}

.zip{
    grid-column: 1/span 12;
    border-radius: 15px;
    border: none;
    margin: 10px 20px;
    padding: 20px;
    background: rgba(255,255,255,0.8);
}

.check-in{
    grid-column: 1/span 6;
    border-radius: 15px;
    border: none;
    margin: 10px 20px;
    padding: 20px;
    background: rgba(255,255,255,.8);
}

.place{
    grid-column: 7/span 6;
    border-radius: 15px;
    border: none;
    margin: 10px 20px;
    padding: 20px;
    background: rgba(255,255,255,0.8);
}

.check-out{
    grid-column: 1/span 4;
    border-radius: 15px;
    border: none;
    margin: 10px 20px;
    padding: 20px;
    background: rgba(255,255,255,0.8);
}

.email{
    grid-column: 5/span 4;
    border-radius: 15px;
    border: none;
    margin: 10px 20px;
    padding: 20px;
    background: rgba(255,255,255,0.8);
}

.phone{
    grid-column: 9/span 4;
    border-radius: 15px;
    border: none;
    margin: 10px 20px;
    padding: 20px;
    background: rgba(255,255,255,0.8);
}

.form-button{
    grid-column: 1/span 12;
    border-radius: 15px;
    border: none;
    margin: 10px 20px;
    padding: 20px;
    background: #FF5400;
    
    
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
   
    
}

.reservation-heading {
    color: #FFF;
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 10px;
}

.footer{
    background: rgba(19, 19, 24, 0.05);
   
}



.footer nav{
    padding: 50px 600px 5px;
}

.footer-end{
    text-align: center;
}

.footer-end{
    border-bottom: 1px solid rgb(100, 98, 98);
    margin: 2px 300px;
    
}

.end{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
